# This file was auto-generated by Fern from our API Definition.

import typing

from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.request_options import RequestOptions
from ...types.rule_export import RuleExport
from ...types.rule_import_payload import RuleImportPayload
from ...types.rule_list_response import RuleListResponse
from ...types.success_message import SuccessMessage
from .raw_client import AsyncRawRulesClient, RawRulesClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class RulesClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawRulesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawRulesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawRulesClient
        """
        return self._raw_client

    def delete(self, *, id: str, request_options: typing.Optional[RequestOptions] = None) -> SuccessMessage:
        """
        Delete a specific rule by its ID.

        Parameters
        ----------
        id : str
            The ID of the rule to delete.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SuccessMessage
            Rule deleted successfully

        Examples
        --------
        from rulebricks import Rulebricks

        client = Rulebricks(
            api_key="YOUR_API_KEY",
        )
        client.assets.rules.delete(
            id="2855f8da-2654-4df9-8903-8f797cbfe8eb",
        )
        """
        _response = self._raw_client.delete(id=id, request_options=request_options)
        return _response.data

    def pull(self, *, id: str, request_options: typing.Optional[RequestOptions] = None) -> RuleExport:
        """
        Export a specific rule by its ID. This response preserves the raw rule document casing (for example, `requestSchema`, `sampleRequest`, and `createdAt`) so it can round-trip through `/admin/rules/import` and `.rbm` workflows.

        Parameters
        ----------
        id : str
            The ID of the rule to export.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RuleExport
            Successful response

        Examples
        --------
        from rulebricks import Rulebricks

        client = Rulebricks(
            api_key="YOUR_API_KEY",
        )
        client.assets.rules.pull(
            id="2855f8da-2654-4df9-8903-8f797cbfe8eb",
        )
        """
        _response = self._raw_client.pull(id=id, request_options=request_options)
        return _response.data

    def push(self, *, rule: RuleImportPayload, request_options: typing.Optional[RequestOptions] = None) -> RuleExport:
        """
        Create or update a rule. If `id` is provided, the matching rule is partially updated (all other fields optional). If `id` is omitted, a new rule is created (`id` and `slug` are auto-generated; all other fields required).

        Parameters
        ----------
        rule : RuleImportPayload

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RuleExport
            Rule imported successfully

        Examples
        --------
        import datetime

        from rulebricks import (
            Rulebricks,
            RuleImportConditionRow,
            RuleImportPayload,
            RuleImportRequestCell,
            RuleImportResponseCell,
            RuleImportRowSettings,
            RuleImportSchemaField,
        )

        client = Rulebricks(
            api_key="YOUR_API_KEY",
        )
        client.assets.rules.push(
            rule=RuleImportPayload(
                name="Basic Pricing Rule",
                description="",
                created_at=datetime.datetime.fromisoformat(
                    "2026-02-12 01:29:23+00:00",
                ),
                updated_at=datetime.datetime.fromisoformat(
                    "2026-02-12 01:29:23+00:00",
                ),
                published=False,
                test_request={
                    "customer_tier": "STANDARD",
                    "order_total": 250,
                    "expedited": False,
                },
                sample_request={
                    "customer_tier": "STANDARD",
                    "order_total": 250,
                    "expedited": False,
                },
                sample_response={"discount_rate": 0, "approval_status": "standard"},
                request_schema=[
                    RuleImportSchemaField(
                        key="customer_tier",
                        show=True,
                        name="Customer Tier",
                        type="string",
                    ),
                    RuleImportSchemaField(
                        key="order_total",
                        show=True,
                        name="Order Total",
                        type="number",
                    ),
                    RuleImportSchemaField(
                        key="expedited",
                        show=True,
                        name="Expedited",
                        type="boolean",
                    ),
                ],
                response_schema=[
                    RuleImportSchemaField(
                        key="discount_rate",
                        show=True,
                        name="Discount Rate",
                        type="number",
                    ),
                    RuleImportSchemaField(
                        key="approval_status",
                        show=True,
                        name="Approval Status",
                        type="string",
                    ),
                ],
                conditions=[
                    RuleImportConditionRow(
                        request={
                            "customer_tier": RuleImportRequestCell(
                                op="equals",
                                args=["VIP"],
                            )
                        },
                        response={
                            "discount_rate": RuleImportResponseCell(
                                value=0.2,
                            ),
                            "approval_status": RuleImportResponseCell(
                                value="priority",
                            ),
                        },
                        settings=RuleImportRowSettings(
                            enabled=True,
                            priority=0.0,
                            schedule=[],
                        ),
                    ),
                    RuleImportConditionRow(
                        request={
                            "expedited": RuleImportRequestCell(
                                op="equals",
                                args=[True],
                            )
                        },
                        response={
                            "discount_rate": RuleImportResponseCell(
                                value=0.05,
                            ),
                            "approval_status": RuleImportResponseCell(
                                value="expedited",
                            ),
                        },
                        settings=RuleImportRowSettings(
                            enabled=True,
                            priority=0.0,
                            schedule=[],
                        ),
                    ),
                    RuleImportConditionRow(
                        request={},
                        response={
                            "discount_rate": RuleImportResponseCell(
                                value=0,
                            ),
                            "approval_status": RuleImportResponseCell(
                                value="standard",
                            ),
                        },
                        settings=RuleImportRowSettings(
                            enabled=True,
                            priority=0.0,
                            schedule=[],
                        ),
                    ),
                ],
                history=[],
            ),
        )
        """
        _response = self._raw_client.push(rule=rule, request_options=request_options)
        return _response.data

    def list(
        self,
        *,
        folder: typing.Optional[str] = None,
        user_group: typing.Optional[str] = None,
        name: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> RuleListResponse:
        """
        List all rules in the organization. Results are scoped to the API key holder's user groups. Optionally filter by folder name or ID, by user group name or ID when the API key has access to that group, or by name.

        Parameters
        ----------
        folder : typing.Optional[str]
            Filter results by folder name or folder ID.

        user_group : typing.Optional[str]
            Filter results by user group name or ID. The value is validated against workspace groups. Admin/unrestricted API keys can request any group-specific view; restricted API keys may only filter to one of their assigned groups and receive a 403 when filtering outside those groups.

        name : typing.Optional[str]
            Filter results by name using a case-insensitive substring match.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RuleListResponse
            Success

        Examples
        --------
        from rulebricks import Rulebricks

        client = Rulebricks(
            api_key="YOUR_API_KEY",
        )
        client.assets.rules.list(
            folder="Marketing Rules",
        )
        """
        _response = self._raw_client.list(
            folder=folder, user_group=user_group, name=name, request_options=request_options
        )
        return _response.data


class AsyncRulesClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawRulesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawRulesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawRulesClient
        """
        return self._raw_client

    async def delete(self, *, id: str, request_options: typing.Optional[RequestOptions] = None) -> SuccessMessage:
        """
        Delete a specific rule by its ID.

        Parameters
        ----------
        id : str
            The ID of the rule to delete.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SuccessMessage
            Rule deleted successfully

        Examples
        --------
        import asyncio

        from rulebricks import AsyncRulebricks

        client = AsyncRulebricks(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.assets.rules.delete(
                id="2855f8da-2654-4df9-8903-8f797cbfe8eb",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.delete(id=id, request_options=request_options)
        return _response.data

    async def pull(self, *, id: str, request_options: typing.Optional[RequestOptions] = None) -> RuleExport:
        """
        Export a specific rule by its ID. This response preserves the raw rule document casing (for example, `requestSchema`, `sampleRequest`, and `createdAt`) so it can round-trip through `/admin/rules/import` and `.rbm` workflows.

        Parameters
        ----------
        id : str
            The ID of the rule to export.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RuleExport
            Successful response

        Examples
        --------
        import asyncio

        from rulebricks import AsyncRulebricks

        client = AsyncRulebricks(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.assets.rules.pull(
                id="2855f8da-2654-4df9-8903-8f797cbfe8eb",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.pull(id=id, request_options=request_options)
        return _response.data

    async def push(
        self, *, rule: RuleImportPayload, request_options: typing.Optional[RequestOptions] = None
    ) -> RuleExport:
        """
        Create or update a rule. If `id` is provided, the matching rule is partially updated (all other fields optional). If `id` is omitted, a new rule is created (`id` and `slug` are auto-generated; all other fields required).

        Parameters
        ----------
        rule : RuleImportPayload

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RuleExport
            Rule imported successfully

        Examples
        --------
        import asyncio
        import datetime

        from rulebricks import (
            AsyncRulebricks,
            RuleImportConditionRow,
            RuleImportPayload,
            RuleImportRequestCell,
            RuleImportResponseCell,
            RuleImportRowSettings,
            RuleImportSchemaField,
        )

        client = AsyncRulebricks(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.assets.rules.push(
                rule=RuleImportPayload(
                    name="Basic Pricing Rule",
                    description="",
                    created_at=datetime.datetime.fromisoformat(
                        "2026-02-12 01:29:23+00:00",
                    ),
                    updated_at=datetime.datetime.fromisoformat(
                        "2026-02-12 01:29:23+00:00",
                    ),
                    published=False,
                    test_request={
                        "customer_tier": "STANDARD",
                        "order_total": 250,
                        "expedited": False,
                    },
                    sample_request={
                        "customer_tier": "STANDARD",
                        "order_total": 250,
                        "expedited": False,
                    },
                    sample_response={"discount_rate": 0, "approval_status": "standard"},
                    request_schema=[
                        RuleImportSchemaField(
                            key="customer_tier",
                            show=True,
                            name="Customer Tier",
                            type="string",
                        ),
                        RuleImportSchemaField(
                            key="order_total",
                            show=True,
                            name="Order Total",
                            type="number",
                        ),
                        RuleImportSchemaField(
                            key="expedited",
                            show=True,
                            name="Expedited",
                            type="boolean",
                        ),
                    ],
                    response_schema=[
                        RuleImportSchemaField(
                            key="discount_rate",
                            show=True,
                            name="Discount Rate",
                            type="number",
                        ),
                        RuleImportSchemaField(
                            key="approval_status",
                            show=True,
                            name="Approval Status",
                            type="string",
                        ),
                    ],
                    conditions=[
                        RuleImportConditionRow(
                            request={
                                "customer_tier": RuleImportRequestCell(
                                    op="equals",
                                    args=["VIP"],
                                )
                            },
                            response={
                                "discount_rate": RuleImportResponseCell(
                                    value=0.2,
                                ),
                                "approval_status": RuleImportResponseCell(
                                    value="priority",
                                ),
                            },
                            settings=RuleImportRowSettings(
                                enabled=True,
                                priority=0.0,
                                schedule=[],
                            ),
                        ),
                        RuleImportConditionRow(
                            request={
                                "expedited": RuleImportRequestCell(
                                    op="equals",
                                    args=[True],
                                )
                            },
                            response={
                                "discount_rate": RuleImportResponseCell(
                                    value=0.05,
                                ),
                                "approval_status": RuleImportResponseCell(
                                    value="expedited",
                                ),
                            },
                            settings=RuleImportRowSettings(
                                enabled=True,
                                priority=0.0,
                                schedule=[],
                            ),
                        ),
                        RuleImportConditionRow(
                            request={},
                            response={
                                "discount_rate": RuleImportResponseCell(
                                    value=0,
                                ),
                                "approval_status": RuleImportResponseCell(
                                    value="standard",
                                ),
                            },
                            settings=RuleImportRowSettings(
                                enabled=True,
                                priority=0.0,
                                schedule=[],
                            ),
                        ),
                    ],
                    history=[],
                ),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.push(rule=rule, request_options=request_options)
        return _response.data

    async def list(
        self,
        *,
        folder: typing.Optional[str] = None,
        user_group: typing.Optional[str] = None,
        name: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> RuleListResponse:
        """
        List all rules in the organization. Results are scoped to the API key holder's user groups. Optionally filter by folder name or ID, by user group name or ID when the API key has access to that group, or by name.

        Parameters
        ----------
        folder : typing.Optional[str]
            Filter results by folder name or folder ID.

        user_group : typing.Optional[str]
            Filter results by user group name or ID. The value is validated against workspace groups. Admin/unrestricted API keys can request any group-specific view; restricted API keys may only filter to one of their assigned groups and receive a 403 when filtering outside those groups.

        name : typing.Optional[str]
            Filter results by name using a case-insensitive substring match.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RuleListResponse
            Success

        Examples
        --------
        import asyncio

        from rulebricks import AsyncRulebricks

        client = AsyncRulebricks(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.assets.rules.list(
                folder="Marketing Rules",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list(
            folder=folder, user_group=user_group, name=name, request_options=request_options
        )
        return _response.data
